@use "set";
@use "mixin" as m;
@use "variables";

header{
    position: absolute;
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.509);
    z-index: 9999;
    ul{
        height: 70px;
        margin: 0;
        padding: 0;
        color: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        li{
            font-size: 15px;
            @include m.mq(sp){
            &:not(:nth-of-type(3)){
                opacity: 0;
            }
            }
        }
        .title_logo{
            font-size: 35px;
            font-weight: bold;
        }
        a{
            color: #fff;
        }
    }
}
.main{
    position: relative;
    color: #fff;
    width: 100vw;
    height: 110vh;
    background-image: url(../img/main_truck.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    .main_catch{
        position: absolute;
        left: 5%;
        top: 30%;
        h1{
            font-size: 43px;
            font-weight: 550;
            line-height: 70px;
        }
        p{
            font-family: "Paralucent Text";
            font-weight: 100;
            font-size: 25px;
        }
    }
}
.inner{
    position: absolute;
    right: 0;
    top: -15vh;
    width: 50%;
    height: 300px;
    background-color: rgba(0, 0, 0);
    clip-path: polygon(0% 100%, 60% 0%, 100% 0%, 100% 100%);
    @include m.mq(sp){
        width: 73%;
    }
    @include m.mq(sp2){
        width: 100%;
    }

    .inner_txt{
        position: absolute;
        top: 0;
        right: 7%;
        color: rgb(255, 255, 255);
        padding: 0;
        @include m.mq(tab){
            right: -2%;
        }
        @include m.mq(sp){
            right: -7%;
        }
        @include m.mq(sp2){
            right: -12%;
        }


        li{
            display: flex;
            align-items: center;
            position: relative;
            font-family: "Paralucent Text";
            font-weight: 100;
            font-size: 20px;
            @include m.mq(tab){
                font-size: 17px;
            }
            @include m.mq(sp){
                font-size: 13px;
            }
            &:not(:first-child){
                margin: 30px auto;
            }
            p{
                margin: 0;
                width: 150px;
            }
            ion-icon{
                font-size: 30px;
                margin-right: 5%;
                @include m.mq(tab){
                    font-size: 20px;
                }
                @include m.mq(sp){
                    font-size: 15px;
                }
            }
        }

        
    }
    
}
.points{
    height: 10000px;
    position: relative;
    background-color: #000;
    .points_main{
        width: 100%;
        z-index: 999999;
        position: absolute;
        top: 30vh;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1{
            font-size: 45px;
            position: relative;
            text-align: center;
            &::before{
                position: absolute;
                content: "POINTS";
                font-family: "Paralucent Text";
                font-style: bold;
                font-size: 70px;
                opacity: 0.4;
                top: -50px;
            }
        }
    }
}
.one_point{
    display: flex;
    align-items: center;
    &:first-of-type{
        .point_img::before{
            content: "POINT1";
            position: relative;
            font-family: "Paralucent Text";
            font-weight: bold;
            font-size: 70px;
            opacity: 0.4;
            top: 5.5%;
            left: 0;
        }
    }
    &:nth-of-type(2){
        .point_img::before{
            content: "POINT2";
            position: relative;
            font-family: "Paralucent Text";
            font-weight: bold;
            font-size: 70px;
            opacity: 0.4;
            top: 5.5%;
            left: 0;
        }
    }
    &:nth-of-type(3){
        .point_img::before{
            content: "POINT3";
            position: relative;
            font-family: "Paralucent Text";
            font-weight: bold;
            font-size: 70px;
            opacity: 0.4;
            top: 5.5%;
            left:0;
        }
    }

    margin-top: 15%;
    display: flex;
    width: 80%;
    .point_img{
        width: 45%;
        padding: 0 3%;   
        img{
            width: 100%;
        }
    }

    .one_point_txt{
        width: 50%;
        font-size: 13px;
        line-height: 22px;
        h2{
            color: rgb(255, 207, 158);
            margin-top: 0;
            font-size: 25px;
        }
    }
}