html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #000;
}
body{
    position: relative;
    font-family: YuGothic,'Yu Gothic',sans-serif;;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
