@use "mixin" as m;
html {
  margin: 0;
  padding: 0;
//   background-color: #000;
  max-width: 1920px;
  overflow-x: hidden;
  margin: 0 auto;
}
body {
  position: relative;
  font-family: YuGothic, "Yu Gothic", sans-serif;
}
// .fade_hid{
//     display: none;
// }
.hide{
    display: none;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
//レスポンシブスマホ用のメニュー
.rp_menu {
  z-index: 99999;
  display: none;
  position: fixed;
  right: 20px;
  top: 20px;
  @include m.mq(sp) {
    display: block;
  }
  .active {
    span {
      transition: 0.5s;
      width: 80%;
      &:nth-of-type(1) {
        right: 6px;
        transform: rotate(-45deg) translateY(19.5px);
      }
      &:nth-of-type(2) {
        opacity: 0;
      }
      &:nth-of-type(3) {
        right: 6px;
        transform: rotate(45deg) translateY(-19.5px);
      }
    }
  }
  .op_menu {
    position: relative;
    width: 40px;
    height: 30px;
    span {
      transition: 0.5s;
      position: absolute;
      display: inline-block;
      width: 40px;
      height: 3px;
      background-color: #fff;

      &:nth-of-type(2) {
        top: 12.5px;
      }
      &:nth-of-type(3) {
        top: 27px;
      }
    }
  }
}
.menu_screen {
  z-index: 99998;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  transition: 0.5s;
  right: -100vw;
  ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80%;
    li {
      position: relative;
      font-size: 35px;
      font-weight: bold;
      &:first-of-type {
        img {
          display: inline-block;
          width: 80%;
          margin: 0 10%;
        }
      }
      &::after {
        font-size: 20px;
        text-align: center;
        left: 0;
        right: 0;
        margin: auto;
      }
      &:nth-of-type(2)::after {
        position: absolute;
        content: "COMPANY";
        font-family: paralucent, sans-serif;
        font-weight: 700;
        font-style: normal;
        color: rgb(134, 134, 134);
        bottom: -30px;
      }
      &:nth-of-type(3)::after {
        position: absolute;
        content: "RECRUIT";
        font-family: paralucent, sans-serif;
        font-weight: 700;
        font-style: normal;
        color: rgb(134, 134, 134);
        bottom: -30px;
      }
      &:nth-of-type(4)::after {
        position: absolute;
        content: "CONTACT";
        font-family: paralucent, sans-serif;
        font-weight: 700;
        font-style: normal;
        color: rgb(134, 134, 134);
        bottom: -30px;
      }
      a {
        color: #fff;
      }
    }
  }
}
// ローディング
#loading{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: all 1s;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loaded{
    opacity: 0;
    visibility: hidden;
}
.fulfilling-square-spinner{
    position: fixed;
    z-index: 9999;
}


.fulfilling-square-spinner , .fulfilling-square-spinner * {
    box-sizing: border-box;
  }

  .fulfilling-square-spinner {
    height: 100px;
    width: 100px;
    position: relative;
    border: 4px solid #ff771d;
    animation: fulfilling-square-spinner-animation 4s infinite ease;
  }

  .fulfilling-square-spinner .spinner-inner {
    vertical-align: top;
    display: inline-block;
    background-color: #ff771d;
    width: 100%;
    opacity: 1;
    animation: fulfilling-square-spinner-inner-animation 4s infinite ease-in;
  }

  @keyframes fulfilling-square-spinner-animation {
    0% {
      transform: rotate(0deg);
    }

    25% {
      transform: rotate(180deg);
    }

    50% {
      transform: rotate(180deg);
    }

    75% {
      transform: rotate(360deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes fulfilling-square-spinner-inner-animation {
    0% {
      height: 0%;
    }

    25% {
      height: 0%;
    }

    50% {
      height: 100%;
    }

    75% {
      height: 100%;
    }

    100% {
      height: 0%;
    }
  }