html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  position: relative;
  font-family: YuGothic, "Yu Gothic", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  position: absolute;
  width: 100%;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.509);
  z-index: 9999;
}
header ul {
  height: 70px;
  margin: 0;
  padding: 0;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header ul li {
  font-size: 15px;
}
@media screen and (max-width: 768px) {
  header ul li:not(:nth-of-type(3)) {
    opacity: 0;
  }
}
header ul .title_logo {
  font-size: 35px;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  header ul .title_logo {
    font-size: 30px;
  }
}
header ul a {
  color: #fff;
}

.main {
  position: relative;
  color: #fff;
  width: 100vw;
  height: 110vh;
  background-image: url(../img/main_truck.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.main .main_catch {
  position: absolute;
  left: 5%;
  top: 30%;
}
.main .main_catch h1 {
  font-size: 43px;
  font-weight: 550;
  line-height: 70px;
}
@media screen and (max-width: 768px) {
  .main .main_catch h1 {
    font-size: 23px;
    line-height: 40px;
  }
}
.main .main_catch p {
  font-family: paralucent-text, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}
@media screen and (max-width: 768px) {
  .main .main_catch p {
    font-size: 15px;
    margin-top: 10%;
  }
}

.inner {
  position: absolute;
  right: 0;
  top: -15vh;
  width: 50%;
  height: 300px;
  background-color: rgb(0, 0, 0);
  -webkit-clip-path: polygon(0% 100%, 60% 0%, 100% 0%, 100% 100%);
          clip-path: polygon(0% 100%, 60% 0%, 100% 0%, 100% 100%);
}
@media screen and (max-width: 768px) {
  .inner {
    width: 73%;
  }
}
@media screen and (max-width: 450px) {
  .inner {
    width: 100%;
  }
}
.inner .inner_txt {
  position: absolute;
  top: 0;
  right: 7%;
  color: rgb(255, 255, 255);
  padding: 0;
}
@media screen and (max-width: 1024px) {
  .inner .inner_txt {
    right: -2%;
  }
}
@media screen and (max-width: 768px) {
  .inner .inner_txt {
    right: -7%;
  }
}
@media screen and (max-width: 450px) {
  .inner .inner_txt {
    right: -12%;
  }
}
.inner .inner_txt li {
  display: flex;
  align-items: center;
  position: relative;
  font-family: paralucent-text, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}
@media screen and (max-width: 1024px) {
  .inner .inner_txt li {
    font-size: 17px;
  }
}
@media screen and (max-width: 768px) {
  .inner .inner_txt li {
    font-size: 13px;
  }
}
.inner .inner_txt li:not(:first-child) {
  margin: 30px auto;
}
.inner .inner_txt li p {
  margin: 0;
  width: 150px;
}
.inner .inner_txt li ion-icon {
  font-size: 30px;
  margin-right: 5%;
}
@media screen and (max-width: 1024px) {
  .inner .inner_txt li ion-icon {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .inner .inner_txt li ion-icon {
    font-size: 15px;
  }
}

.points {
  height: 10000px;
  position: relative;
  background-color: #000;
}
.points .points_main {
  width: 100%;
  z-index: 999999;
  position: absolute;
  top: 30vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.points .points_main h1 {
  font-size: 45px;
  position: relative;
  text-align: center;
}
.points .points_main h1::before {
  position: absolute;
  content: "POINTS";
  font-family: "Paralucent Text";
  font-style: bold;
  font-size: 70px;
  opacity: 0.4;
  top: -50px;
}

.one_point {
  display: flex;
  align-items: center;
  margin-top: 15%;
  display: flex;
  width: 80%;
}
.one_point:first-of-type .point_img::before {
  content: "POINT1";
  position: relative;
  font-family: "Paralucent Text";
  font-weight: bold;
  font-size: 70px;
  opacity: 0.4;
  top: 5.5%;
  left: 0;
}
.one_point:nth-of-type(2) .point_img::before {
  content: "POINT2";
  position: relative;
  font-family: "Paralucent Text";
  font-weight: bold;
  font-size: 70px;
  opacity: 0.4;
  top: 5.5%;
  left: 0;
}
.one_point:nth-of-type(3) .point_img::before {
  content: "POINT3";
  position: relative;
  font-family: "Paralucent Text";
  font-weight: bold;
  font-size: 70px;
  opacity: 0.4;
  top: 5.5%;
  left: 0;
}
.one_point .point_img {
  width: 45%;
  padding: 0 3%;
}
.one_point .point_img img {
  width: 100%;
}
.one_point .one_point_txt {
  width: 50%;
  font-size: 13px;
  line-height: 22px;
}
.one_point .one_point_txt h2 {
  color: rgb(255, 207, 158);
  margin-top: 0;
  font-size: 25px;
}/*# sourceMappingURL=style.css.map */